#Allure
allure-results

#Credential
*.tmp
*.env
*.env.swp

# Maven
target
.factorypath

# TestNG
test-output
report

# Eclipse
.metadata
.settings
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Windows
RemoteSystemsTempFiles

# Mac
.DS_Store
/bin/

# VS Code
.vscode/


results

#archivos autogenerados
log.log